<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AAVD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="cassandra_home" value="127.0.0.1"/>
    <add key="keyspace" value="aavd_fcfm" />
  </appSettings>
  <userSettings>
    <AAVD.Properties.Settings>
      <setting name="usuarioLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="passLogin" serializeAs="String">
        <value />
      </setting>
    </AAVD.Properties.Settings>
  </userSettings>
</configuration>